@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&display=swap');

/* <---------- MULTIPLE FILES ----------> */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

#cardBtn, #formBtn {
  background-color:#055861;
}

* {
  font-family: 'Fira Sans Condensed', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  list-style: none;
}

.name {
  text-transform: capitalize;
}

/* <---------- PROBLEM.JS ----------> */
#probCard {
  max-width: 85%;
  margin-top: 1%;
}

.cardFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* .cardProblem {
  max-width: 95%;
} */

/* <---------- NEWPROBBLEM.JS ----------> */
#newProbForm {
  max-width: 75%;
}

/* <---------- NEWANSWER.JS ----------> */
#newAnswer {
  max-width: 85%;
}

/* <---------- FOOTER.JS ----------> */
footer {
  margin-top: 20%;
  /* position: absolute;
  left: 0;
  bottom: 0;
  width: 100%; */
}
