@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

/* <---------- MULTIPLE FILES ----------> */
#root{
  background-color: #212529;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

#cardBtn, #formBtn, #signInBtn, #signUpBtn, #signOutBtn, #editProblemBtn, #deleteProblemBtn {
  background-color:#055861;
  border-color: #055861;
}

#cardBtn:hover, #formBtn:hover, #signInBtn:hover, #signUpBtn:hover, #signOutBtn:hover, #gitHubLink:hover, #editProblemBtn:hover, #deleteProblemBtn:hover {
  background-color:  #099DAD;
  border: 2px solid #099DAD;
}

* {
  font-family: 'Fira Sans Condensed', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

li {
  list-style: none;
}

.name {
  text-transform: capitalize;
  margin-top: 5px;

}

#root {
  background-color: #212529;
}

a:link {
  text-decoration: none;
}

/* .buffer {
  height: 100px;
  background-color: #212529;
} */

/* <---------- HOME.JS ----------> */
#homePage {
  text-align: center;
  color: white;
  margin-top: 250px;
  font-size: 35px;
}

#homeHeader {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  justify-content: center;
  font-size: 100px;
}

#welcome  {
  font-size: 85px;
}
#appTitle {
  font-size: 85px;
  font-weight: bold;
  color: #099DAD;
}

/* <---------- PROBLEM.JS ----------> */
#momentPill {
  margin-left: 5px;
  text-transform: lowercase;
}

#probCard {
  max-width: 85%;
  margin: auto;
  margin-top: 2%;
  border: 5px solid #099DAD;
}

.cardFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#cardProbFooter {
  padding-top: 50px;
}

/* <---------- SIGNIN.JS ----------> */
#signInForm, #signUpForm {
  max-width: 50%;
}

#signUpBtn {
  margin: auto;
}

/* <---------- PROFILE.JS ----------> */
#profileProblem{
  border: 5px solid #099DAD;
}

/* <---------- SHOWPROBLEM.JS ----------> */
#showProblemBtn {
  display: flex;
  flex-direction: row;
  column-gap: 3px;
}

#showProblemPill {
  margin-left: 5px;
  text-transform: lowercase;
  background-color: #055861;
}

#problemHeader {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

#problemBtns {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  justify-content: flex-end;
}

/* <---------- NEWPROBBLEM.JS ----------> */
#newProbForm {
  max-width: 60%;
  margin: auto;
  background-color: #212529;
}

#problemTips {
  display: flex;
  flex-direction: row;
  column-gap: 25px;
  margin-left: 25px;
}

#newProblemForm {
  color: white;
}

#textEditor{
  background-color: whitesmoke;
  color: black;
  min-height: 100%;
}

.ql-container {
  font-size: inherit !important
}

/* <---------- NEWANSWER.JS ----------> */
#newAnswer {
  max-width: 85%;
  margin: auto;
}

/* <---------- SHOWANSWER.JS ----------> */
#answerContainer {
  margin: auto;
  margin-top: 20px;
}

/* <---------- EDITANSWER.JS ----------> */
#editAnswerBtn {
  display: flex;
  justify-content: end;
}

/* <---------- FOOTER.JS ----------> */
footer {
  margin-top: 20%;
}

#showProblemBody {
  /* background-color: darkgray; */
  padding: 20px 20px 20px 20px;
  margin: 0 50px 0 50px;
}
